@using STOContracts.ViewModels
@model List<CarViewModel>
@{
    ViewData["Title"] = "Cars";
}
<div class="text-center">
    <h2 class="display-4">Автомобили</h2>
</div>
<div class="text-center">
    @{
        if (Model == null)
        {
            <h3 class="display-4">Авторизируйтесь</h3>
            return;
        }
    <p>
        <a asp-action="Records">Посмотреть записи</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Номер
                </th>
                <th>
                    Марка
                </th>
                <th>
                    Модель
                </th>
                <th>
                    VIN
                </th>
                <th>
                    Телефон владельца
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                        item.CarBrand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                        item.CarModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VIN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerPhoneNumber)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
</div>
