@using STOContracts.ViewModels
@model List<TOViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">ТО</h1>
</div>

<div class="text-center">
    @{
        if (Model == null)
        {
            <h3 class="display-4">Авторизируйтесь</h3>
            return;
        }
    <p>
        <a asp-action="Create">Создать ТО</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Номер
                </th>
                <th>
                    Марка
                </th>
                <th>
                    Модель
                </th>
                <th>
                    VIN
                </th>
                <th>
                    Сумма
                </th>
                <th>
                    Статус
                </th>
                <th>
                    Дата создания
                </th>
                 <th>
                    Дата начала выполнения
                </th>
                <th>
                    Дата окончания работ
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                        item.CarMark)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                        item.CarModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                        item.CarVIN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                        item.Sum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                        item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                        item.DateCreate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                        item.DateImplement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                        item.DateOver)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
</div>


