@using STOContracts.ViewModels
@model List<WorkViewModel>
@{
    ViewData["Title"] = "Works";
}
<div class="text-center">
    <h2 class="display-4">Работы</h2>
</div>
<div class="text-center">
    @{
        if (Model == null)
        {
            <h3 class="display-4">Авторизируйтесь</h3>
            return;
        }
    <p>
        <a asp-action="CreateWork">Добавить работу</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Наименование
                </th>
                <th>
                    ФИО кладовщика
                </th>
                <th>
                    Кол-во часов
                </th>
                <th>
                    Статус
                </th>
                <th>
                    Стоимость услуги
                </th>
                <th>
                    Стоимость с учётом запчастей
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                        item.StoreKeeperFIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                        item.Hours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetPrice)
                    </td>
                    <td>
                        <a asp-action="UpdateWork" asp-route-Id="@item.Id">Изменить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a asp-action="WorkTypes">Типы работ</a>
    </p>
    }
</div>
